/*------------------------------------*\
    #PAGE-FOOTER
\*------------------------------------*/

.page-footer {
    padding: 10px 20px;
    border-top: 2px solid $uiBrandColor;
    background: #272A39;
    font-size: 12px;
    color: #fff;
}

    .page-footer--social-list {
        @extend .cf;
        list-style: none;
        margin: 0;
        padding: 0;

        > li {
            float: left;
            margin-right: 15px;
        }
    }