/*------------------------------------*\
    #PAGE-HEADER
\*------------------------------------*/

.page-header {
  position: relative;
  padding: 10px 20px;

  @include media-query(desk) {
    padding: 20px 40px;
    height: 300px;
  }

}

  .page-header__masthead {
    background: url(https://unsplash.com/photos/HzaT5l4Fzqc/download);
    background-size: cover;

    @include media-query(lap-and-up) {
      height: 300px;
    }

    @include media-query(desk) {
      height: 500px;
      background-position-y: -150px;
    }

  }

  .page-header__centerfold {
    padding: 20px 20px 1px 20px;
    margin-top: 100px;
    text-align: center;

    @include media-query(lap) {
      padding: 0;
      margin: 30px auto;
    }

    @include media-query(palm) {
      padding: 0;
      margin: 30px auto;
    }

  }

    .page-header__centerfold-inner {
      display: inline-block;

      > h1 {
        margin: 0;
      }

    }

    .page-header__centerfold__shortdesc {
      padding: 5px 10px;
      border-bottom: 2px solid rgb(38, 38, 38);
      background-color: rgba(255, 255, 255, 0.68);
      font-weight: 300;
      font-size: 14px;

      .love {

      }

    }

/*------------------------------------*\
    #PAGE-NAV
\*------------------------------------*/

.page-nav {
  @extend .cf;
}

  .page-nav__logo {
    display: block;
    float: left;
    padding: 10px 20px;
    margin-top: 10px;
    border: 2px solid #7B7B7B;
    font-size: 13px;
    font-weight: 400;
    background: #7B7B7B;
    color: #fff;
  }

  .page-nav__linklist {
    display: none;
    color: #7B7B7B;

    @include media-query(lap-and-up) {
      display: block;
    }

  }

  .page-nav__linkitem {
    padding: 20px;

    &:last-child {
      padding-right: 0;
    }

  }
