/*------------------------------------*\
    #LATEST_LISTS
\*------------------------------------*/

.latest-lists {}

    .latest-lists__heading {
        @include single-transition(all, 250ms);
        margin: 0;
        padding: 0 10px;
        color: $uiBrandColor;
        outline: 1px solid #E6E6E6;
        font-weight: 200;
        text-align: center;

        &:hover {
            outline: 1px solid $uiBrandColor;
            color: $uiBrandColorHighlight;
        }

    }

    .latest-lists__posts-container {
        padding: 20px 0;
    }

    // ul>li>[ meta stuff ]
    .latest-lists__posts {
        margin: 0;
        list-style: none;
    }

        .latest-lists__items {
            padding-bottom: 30px;

            &:last-child { padding-bottom: 0; }

            .title {
                font-weight: bold;
            }

            .meta {}

            .link {}
        }

