/* ==========================================================================
   Quick Vars
   ========================================================================== */

$ui-base-color: #333;

/* ==========================================================================
   Main CSS
   ========================================================================== */

html {
  color: $ui-base-color;
  -webkit-font-smoothing: antialiased;
}

/* ==========================================================================
   LINKS Normalise additions
   ========================================================================== */

a {
  color: $ui-base-color;
  text-decoration: none;
}

a:focus {
  outline: thin dotted;
}

/*
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}