/*------------------------------------*\
    #SECTION-HEADER
\*------------------------------------*/

.section-header {
    background: #272a39;
}

    .section-header__title {
        padding: 10px 0;
        margin: 0;
        color: $uiBrandColor;
    }